@import "../../styles/variables.scss";

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
  "header"
  "main"
  "footer";
  @media screen and (min-width: $desktop) {
    grid-template-columns: minmax(270px, 300px) auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "header main"
    "header footer";
  }
}
