@import "../../styles/variables.scss";

.skills {
  color: $ux-black;

  &__title {
    margin: 3rem;
    font-size: $h1-font-size;
    font-weight: $soft-font-weight;
    text-align: center;
  }

  &__subtitle {
    margin-left: 1.5rem;
    margin-bottom: 1.2rem;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
