@use "../../styles/variables.scss";

.contact {
  color: variables.$ux-black;
  &__title {
    margin: 3rem;
    font-size: variables.$h1-font-size;
    font-weight: variables.$soft-font-weight;
    text-align: center;
  }
  &__list {
    margin: 1.5rem 1.5rem 3rem 1.5rem;
  }
  &__subtitle {
    margin-left: 1.5rem;
  }
}
