@use "../../styles/variables.scss" as *;

$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-color: $brand-white !default;
$hamburger-active-layer-color: $brand-white !default;

//@import "node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  &__wrapper {
    margin-left: auto;
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}
